	#x {
		position: absolute;
		left: 190px;
		top: 290px;
		height: 35px;
		width: 35px;
		cursor: pointer;
	}

	#circle {
		position: absolute;
		left: 290px;
		top: 290px;
		height: 35px;
		width: 35px;
		cursor: pointer;
	}
	
	div {
		cursor: pointer;
	}
	
	.gameBoard:hover {
		cursor: pointer;
		background: #CAFFFF;
	}
	
	#canvas1 {
		position: relative;
		border-right: solid 1px black;
		border-bottom: solid 1px black;
	}
	
	#canvas2 {
		position: relative;
		border-right: solid 1px black;
		border-bottom: solid 1px black;
	}

	#canvas3 {
		position: relative;
		border-bottom: solid 1px black;	
	}

	#canvas4 {
		position: relative;
		bottom: 5px;
		border-right: solid 1px black;
		border-bottom: solid 1px black;
	}

	#canvas5 {
		position: relative;
		bottom: 5px;
		border-right: solid 1px black;
		border-bottom: solid 1px black;
	}

	#canvas6 {
		position: relative;
		bottom: 5px;
		border-bottom: solid 1px black;
	}

	#canvas7 {
		position: relative;
		bottom: 10px;
		border-right: solid 1px black;
	}

	#canvas8 {
		position: relative;
		bottom: 10px;
		border-right: solid 1px black;	
	}

	#canvas9 {
		position: relative;
		bottom: 10px;
	}
	
	br {
		position: relative;
	}